* {
    margin: 0;
}

body {
    height: 1vh;
    background-color: rgb(39, 39, 39);
}

.container {
    z-index: 1;
    display: inline-block;
    position: relative;
    background-image: url("../images/hero.jpg");
    height: 750px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.container img {
    filter: drop-shadow(0px 0px 10px rgba(31, 29, 16, 0.555));
    max-width: 300px;
    margin-top: -250px;
    margin-left: 10%;
}

.box {
    z-index: 2;
    background-color: rgba(34, 39, 36, 0.329);
    width: 400px;
    height: 100%;
    border: 0px;
    margin-left: 60%; 
}

.box-overlay {
    z-index: 3;
    margin-top: -300px;
    margin-left: 60%;
}

.box-overlay li {
    list-style: none;
}

a {
    text-decoration: none;
    margin: 10px;
}

.about {
    display: grid;
    padding: 10px 10px 0px 10px;
    grid-template-columns: 1fr 7fr;
    grid-gap: 10px;
}

.about div {
    background: green;
    padding: 10px;
}

.work {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 7fr;
    grid-gap: 10px;
}

.work div {
    background: green;
    padding: 10px;
}

.work-images {
    display:flex;
    justify-content: space-around;
}

.work img {
    max-width: 100%;
}

.work img:hover,.work img:focus {
    filter: drop-shadow(0px 0px 12px rgba(218, 216, 150, 0.555));
}

.resume {
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding: 0px 10px;
    grid-gap: 10px;
}

.resume div {
    background: green;
    padding: 10px;
    
}

.contact {
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding: 10px;
    grid-gap: 10px;
}

.contact div {
    background: green;
    padding: 10px;
}

.contact input {
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 70%;
}

.contact label {
    display: block;
}

.contact button {
    display: block;
}

