:root {
    --grid-background-color:rgb(24, 116, 104);
    --white-text: #ffffff;
}

* {
    margin: 0;
    font-family: 'Roboto';
}

body {
    background: rgb(13,32,21);
    background: linear-gradient(180deg, rgba(13,32,21,1) 0%, rgba(28,97,69,1) 58%, rgba(23,67,76,1) 70%, rgba(19,46,81,1) 100%);
}

.container {
    z-index: 1;
    display: inline-block;
    position: relative;
    background-image: url("../images/hero.jpg");
    height: 750px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.container img {
    filter: drop-shadow(0px 0px 10px rgba(31, 29, 16, 0.555));
    max-width: 300px;
    margin-top: -300px;
    margin-left: 10%;
}

.box {
    background-image: linear-gradient(30deg, rgba(0, 148, 233, 0.5) 0%, rgba(73, 133, 98, 0.5) 50%, #283a2a 100%);
    width: 400px;
    height: 100%;
    border: 0px;
    margin-left: 60%; 
}

.box-overlay {
    margin-top: -300px;
    margin-left: 60%;
    color: var(--white-text)
}

.container h1 {
    text-align: center;
    margin: 20px 45px;
    width: 320px;
}

.container li {
    list-style: none;
    text-align: center;
    width: 300px;
    margin: 10px;
}

.container li:hover {
    text-decoration: underline;
    filter: drop-shadow(0px 0px 20px rgb(0, 0, 0));
}

a {
    text-decoration: none;
    color: var(--white-text);
    font-size: 20px;
}

.about {
    display: grid;
    padding: 10px 10px 0px 10px;
    grid-template-columns: 1fr 7fr;
    grid-gap: 10px;
    color: var(--white-text);
}

.about div,h3 {
    background: var(--grid-background-color);
    padding: 10px;
}

.work {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 7fr;
    grid-gap: 10px;
    color: var(--white-text);
}

.work div {
    background: var(--grid-background-color);
    padding: 10px;
}

.work-images {
    display:flex;
    justify-content: space-around;
}

.work img {
    max-width: 100%;
}

.work img:hover,.work img:focus {
    filter: drop-shadow(0px 0px 12px rgba(218, 216, 150, 0.555));
}

.resume {
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding: 0px 10px;
    grid-gap: 10px;
    color: var(--white-text);
}

.resume div {
    background: var(--grid-background-color);
    padding: 10px;
    
}

.resume div:hover {
    text-decoration: underline;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding: 10px;
    grid-gap: 10px;
    color: var(--white-text);
}

.contact div {
    background: var(--grid-background-color);
    padding: 10px;
}

.contact input {
    display: inline-block;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    border
    margin-bottom: 15px;
    width: 85%;
}

.contact label {
    display: block;
}

.contact h3, p {
    margin: 10px;
}

#message {
    min-height: 75px;
    text-align: top;
}

.contact button {
    margin-top: 10px;
    border-radius: 6px;
    display: block;
    cursor: pointer;
}

footer p{
    color: var(--white-text);
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 640px){
    .work img {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
}
